@import 'menu.scss';
@import 'typewriter.scss';
@import 'threeBoxes.scss';
@import 'footer.scss';
@import 'contactForm.scss';
@import 'discover.scss';
@import 'navbar.scss';

$gray_white: #f0f0f0;
$primary_black: #1a1a1a;
$gold: #e1a87a;

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    
}


body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  font-weight: 100;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), url('/img/office.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

